<div class="change-password">
  <div class="main-content">
    <div class="wrap1">
      <section class="top">
        <div class="top_main">
          <el-form :label-position="labelPosition" label-width="130px" :model="formLabelAlign3" ref="formLabelAlign3" :rules="rules3" status-icon>
            <el-form-item label="旧密码：" prop="oldPassword">
              <el-input type="password" v-model="formLabelAlign3.oldPassword" placeholder="请输入" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="新密码：" prop="newPassword">
              <el-input type="password" v-model="formLabelAlign3.newPassword" placeholder="请输入" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="再次输入：" prop="reinput">
              <el-input type="password" v-model="formLabelAlign3.reinput" placeholder="请输入" autocomplete="off"></el-input>
            </el-form-item>
          </el-form>
        </div>
      </section>
      <el-button type="primary" size="small" @click="submitForm3('formLabelAlign3')" style="margin-left: 131px;">确 认</el-button>
    </div>
  </div>
  <router-view></router-view>
</div>