.register {
    width: 100%; position: relative;
    background: #F7F7F7; height: 100%;
    overflow: scroll;
    .header {
        position: fixed; top: 0; left: 0; right: 0;
        background: #fff; height: 88px;  z-index: 99;
        .header-content {
            width: 1200px; height: 100%; margin: 0 auto;
            line-height: 88px;
            img {
                vertical-align: middle; 
            }
            .el-button {
                background: #FFC100; color: #fff;
                float: right; margin: 25px 92px 0 0;
            }
        }
    }
    .main {
        .main-content {
            width: 563px; height: 600px;
            background: #fff; margin: 150px auto 63px;
            padding: 31px;
            p {
                text-align: center;
                color: #FF9700; font-size: 36px;
                margin-bottom: 20px; 
            }
            .el-form {
                padding-right: 50px;
                .el-button {
                    width: 100%; background: #FFC100; color: #fff;
                }
                .go-login {
                    text-align: center;
                    span {
                        color: #FF9700;
                    }
                    
                }
            }
        }
    }
    .footer {
        height: 340px; background: #2A2A2A; color: #fff;
        .footer-content {
            width: 1200px; margin: 0 auto;
            background: #FFC100; padding: 40px 80px;
        }
    }
    
}