.el-table {
    .table-row-name:hover {
        .table-cell-name {
            background: #E6F7FF;
        }
    }
}
.el-table td, .el-table th, .cell {
    padding: 6px 0 !important;
    text-align: center;
    .el-button {
        padding: 0;
    }
}
.el-pagination {
    text-align: right;
    margin: 25px 0;
}
.el-checkbox-group {
    .el-checkbox+.el-checkbox {
        margin-left: 0;
    }
    .el-checkbox {
        margin-right: 10px;
    }
}