.info-API {
  .wrap3 {
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 56px;
    padding-bottom: 60px;
    .uid {
      padding-left: 123px;
      margin-bottom: 21px;
      span {
        color: #262626;
        line-height: 22px;
      }
    }
    .token {
      padding-left: 106px;
      margin-bottom: 27px;
      span {
        color: #262626;
        line-height: 22px;
      }
    }
  }
}