.my-incomes {
    .notice {
        height: 80px;
        background: #fff; border-radius:2px;
        padding: 0 49px; line-height: 80px;
        color: #F96A0E; font-size: 20px;
        margin-bottom: 38px;
        img {
            width: 30px; height: 28px; display: inline-block;
            vertical-align: middle; margin-right: 10px;
        }
        .btn-group {
            float: right;
        }
    }
    .content {
        .first-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            div {
                padding: 48px 56px;
                background: #fff; text-align: center;
                width: 259px; height: 284px;
                img {
                    width: 84px; height: 84px;
                    display: block; margin: 0 auto 36px;
                }
                span:last-child {
                    font-size: 20px; color: #555;
                }
                span:last-child {
                    font-size: 30px; color: #111;
                }
            }
        }
    }
    .dialog-content {
        text-align: center;
        margin: 50px;
    }

    .qrcode {
        .el-dialog__header {
            padding: 0;
        }
        .order-content {
            text-align: center; position: relative;
            line-height: 32px;
            img {
                margin-top: 10px;
            }
            .vue-qrcode {
                img {
                    width: 200px; height: 200px;
                }
            }
            .pay-price {
                font-weight: 600;
                color: #f00; font-size: 18px;
            }
            .time-div {
                font-size: 20px;
            }
            .open-img {
                vertical-align: middle; margin-top: 0;
            }
        }
    }
}