.my-incomes {
    .notice {
        height: 99px;
        background: #fff; border-radius:2px;
        padding: 0 49px; line-height: 99px;
        color: #F96A0E; font-size: 20px;
        margin-bottom: 38px;
        img {
            width: 30px; height: 28px; display: inline-block;
            vertical-align: middle; margin-right: 20px;
        }
        .btn-group {
            float: right;
        }
    }
    .content {
        .first-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            div {
                padding: 48px 56px;
                background: #fff; text-align: center;
                width: 259px; height: 284px;
                img {
                    width: 84px; height: 84px;
                    display: block; margin: 0 auto 36px;
                }
                span:last-child {
                    font-size: 20px; color: #555;
                }
                span:last-child {
                    font-size: 30px; color: #111;
                }
            }
        }
    }
    .dialog-content {
        text-align: center;
        margin: 50px;
    }
}