<div class="edit-account">
    <div class="main-content">
        <el-form label-width="100px" ref="params" :model="params" :rules="rules">
            <el-row :gutter="40">
                <el-col :span="12">
                    <el-form-item label="收款账户:" prop="receviceAccount">
                        <el-input placeholder="请输入内容" disabled v-model="params.receviceAccount" class="input-with-select">
                            <el-select v-model="params.payType" slot="prepend" placeholder="请选择">
                                <el-option
                                    v-for="(item, index) in selectList"
                                    :label="item.label"
                                    :value="item.value"
                                    :key="index">
                                </el-option>
                            </el-select>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="支付ID:" prop="payId">
                        <el-input disabled placeholder="请输入内容" v-model="params.payId"></el-input>
                    </el-form-item>
                    <el-form-item label="支付名称:" prop="userName">
                        <el-input disabled placeholder="请输入内容" v-model="params.userName"></el-input>
                    </el-form-item>
                    <el-form-item label="备注:">
                        <el-input placeholder="请输入内容" v-model="params.remark"></el-input>
                    </el-form-item>
                    <el-form-item label="排序:" prop="accountSort">
                        <el-input placeholder="请输入内容" v-model="params.accountSort"></el-input>
                    </el-form-item>

                </el-col>
                <el-col :span="12">
                    <el-form-item label="权重:" prop="accountWeight">
                        <el-input placeholder="请输入内容" v-model="params.accountWeight"></el-input>
                    </el-form-item>
                    <el-form-item label="实施网关:">
                        <el-input placeholder="请输入内容" v-model="params.realTimeGateway"></el-input>
                    </el-form-item>
                    <el-form-item label="每日限额:">
                        <el-input placeholder="请输入内容" v-model="params.accountAmountLimit"></el-input>
                    </el-form-item>
                    <el-form-item label="限时(每日):">
                        <el-time-picker placeholder="任意时间点" v-model="params.timeLimitStart"></el-time-picker>
                        至
                        <el-time-picker placeholder="任意时间点" v-model="params.timerLimitEnd"></el-time-picker>
                    </el-form-item>
                    <el-form-item label="状态:">
                        <el-radio-group v-model="params.accountStatus" size="small">
                            <el-radio label="0">开启</el-radio>
                            <el-radio label="1">关闭</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
            <div class="save-btn">
                <el-button type="primary" @click="saveData">保存</el-button>
            </div>
        </el-form>
    </div>
   <router-view></router-view>
</div>