<div class="roleManagePage">
    <div>
        <div class="warpper-content-inner" v-if="show">
            <div class="warpprt-content-header addRoleManage">
                <el-button type="primary" @click="addManage">添加角色管理员</el-button>
            </div>
            <div class="warpper-content-table">
                <el-table border :data='dataList' v-loading="loading" element-loading-text="数据拼命加载中...">
                    <el-table-column label="ID" prop="id"></el-table-column>
                    <el-table-column label="角色名称" prop="roleName"></el-table-column>
                    <el-table-column label="角色描述" prop="description"></el-table-column>
                    <el-table-column label="状态" prop="status">
                        <template slot-scope="scope">
                            <i v-if="scope.row.status === '0'" class="el-icon-close"></i>
                            <i v-else class="el-icon-check"></i>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" @click="goPermission(scope.row)">权限设置</el-button>
                            <el-button type="text" @click="editManage(scope.row)">编辑</el-button>
                            <el-button type="text" @click="deleteManage(scope.row, scope.$index)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
            <el-dialog :visible.sync="addManageDialog" center width="30%">
                <div slot="title">
                    <h2>添加角色管理员</h2>
                </div>
                <el-form :model="form" label-width="100px">
                    <el-form-item label="角色名称">
                        <el-input v-model="form.roleName"></el-input>
                    </el-form-item>
                    <el-form-item label="角色描述">
                        <el-input type="textarea" v-model="form.description"></el-input>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-radio v-model="form.status" label="1">开启</el-radio>
                        <el-radio v-model="form.status" label="0">禁用</el-radio>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="addManageConfirm">确 定</el-button>
                    <el-button @click="addManageDialog = false">取 消</el-button>
                </span>
            </el-dialog>
            <el-dialog :visible.sync="editManageDialog" center width="30%">
                <div slot="title">
                    <h2>编辑角色管理员</h2>
                </div>
                <el-form :model="editForm" label-width="100px">
                    <el-form-item label="角色名称">
                        <el-input v-model="editForm.roleName"></el-input>
                    </el-form-item>
                    <el-form-item label="角色描述">
                        <el-input type="textarea" v-model="editForm.description"></el-input>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-radio v-model="editForm.status" label="1">开启</el-radio>
                        <el-radio v-model="editForm.status" label="0">禁用</el-radio>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="editManageConfirm">确 定</el-button>
                    <el-button @click="editManageDialog = false">取 消</el-button>
                </span>
            </el-dialog>
        </div>
    </div>
    <router-view></router-view>
</div>