.test-API {
  .wrap4 {
    margin: 0 auto;
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 50px;
    .top {
      margin-bottom: 29px;
      .el-input {
        width: auto;
        .el-input__inner {
          width: 374px;
          height: 32px;
        }
      }
    }
  }
  .el-dialog__header {
    padding: 0;
  }
  .qrcode-content {
    text-align: center;
    iframe {
      height: 600px;
    }
  }
}