.set-API {
  .wrap2 {
    height: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 46px;
    padding-bottom: 50px;
    .top {
      .el-form-item__error {
        top: 38px;
      }
    }
    .blue {
      line-height: 22px;
      color: #595959;
      border: 1px solid #BAE7FF;
      background-color: #E6F7FF;
      padding: 12px 105px 12px 38px;
      width: 95%;
      margin: 0 auto;
      margin-top: -29px;
      .el-icon-info {
        color: #1890FF;
      }
    }
    .el-input {
      display: inline-block;
      .el-input__inner {
        width: 374px;
        height: 32px;
      }
    }
  }
}